<section class="container-fluid px-auto pt-5">
  <div class="row">
    <div class="col-md-4">
      <div>
        <h1>Say Hi, Don't be shy!</h1>
        <div class="my-4" style="font-weight: bold 400; font-size: 1rem">
          Have questions or want to get started? We'd love to hear from you.
        </div>
        <div>
          <ul class="list-unstyled d-flex">
            <li>
              <span class="bi bi-facebook fs-4 me-4"></span>
            </li>
            <li>
              <span class="bi bi-instagram fs-4 me-4"></span>
            </li>
            <li>
              <span class="bi bi-youtube fs-4 me-4"></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="my-3 mx-md-4" id="contactForm">
        <p class="text-muted" style="font-size: 2rem">
          We Are TheStreaming Service Management Provider
        </p>
        <h2 class="chocolate" style="font-size: 30px">Send a Message</h2>
        <!-- form goes here -->
        <form action="">
          <div class="row">
            <div class="col-sm-6 form-floating my-2">
              <input
                type="text"
                placeholder="name"
                class="form-control rounded-0 bgAnotherWhite"
              />
              <label for="floatingInput" class="ms-3">First Name</label>
            </div>
            <div class="col-sm-6 form-floating my-2">
              <input
                type="text"
                placeholder="last name"
                class="form-control rounded-0 bgAnotherWhite"
              />
              <label for="floatingInput" class="ms-3">Last Name</label>
            </div>
            <div class="col-sm-6 form-floating my-2">
              <input
                type="email"
                placeholder="email"
                class="form-control rounded-0 bgAnotherWhite"
              />
              <label for="floatingInput" class="ms-3"> Email</label>
            </div>
            <div class="col-sm-6 form-floating my-2">
              <input
                type="tel"
                placeholder="telephone"
                class="form-control rounded-0 bgAnotherWhite"
              />
              <label for="floatingInput" class="ms-3">Telephone</label>
            </div>
            <div class="col-sm-12 my-2">
              <textarea
                class="form-control rounded-0 bgAnotherWhite"
                name="message"
                id="suggestion"
                rows="8"
                placeholder="Message"
              ></textarea>
            </div>
            <div class="col-sm-3 my-3">
              <button
                class="btn btn-md text-uppercase"
                style="
                  border-radius: 2.25px;
                  color: #fff;
                  background-color: #e50916;
                "
              >
                Send now
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid px-auto">
  <div class="row my-5">
    <div class="col-md-6 col-sm-6">
      <h1>Contact Info</h1>
      <div>Request an Audience</div>
      <div>
        <ul class="list-unstyled g-0 p-0 my-4">
          <li class="my-4">
            <div class="d-flex">
              <span class="bi bi-house fs-4 me-3"></span>
              <span>
                <span class="fw-semibold">Office Address</span> <br />
                73 Ringer House Lane, Dynatis Newyork 33022, USA
              </span>
            </div>
          </li>
          <li class="my-4">
            <div class="d-flex">
              <span class="bi bi-envelope-open fs-4 me-3"></span>
              <span
                ><span class="fw-semibold">Email Address</span> <br />
                <a href="mailto:" class="text-decoration-underlined newWhite"
                  >hello@StreamEase!</a
                ></span
              >
            </div>
          </li>
          <li class="my-4">
            <div class="d-flex">
              <span class="bi bi-telephone-inbound fs-4 me-3"></span>
              <span
                ><span class="fw-semibold">24/7 Helpline</span> <br />
                73 Ringer House Lane, Dynatis Newyork 33022, USA</span
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6481.007511272669!2d3.888265!3d7.397664000000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x10398d6a657b14c9%3A0xb43849f101727e38!2sAptech%20Ibadan!5e1!3m2!1sen!2sng!4v1679570470655!5m2!1sen!2sng"
        class="container-fluid border-0 g-0 w-100 h-100"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
