<footer class="container-fluid g-0 pt-5 px-5 black white">
  <div class="row my-5">
    <div class="col-md-3 col-sm-6 white px-auto">
      <a
        href=""
        class="align-items-center justify-content-center text-decoration-none d-inline-flex"
      >
        <img
          src="assets/img/stream_easenobg.png"
          alt=""
          width="40"
          height="40"
        />
        <span
          class="ls-sm fw-bold white"
          style="font-size: 17px; font-weight: 400; margin-left: 5px"
          >StreamEase.</span
        >
      </a>
      <ul class="list-unstyled">
        <li class="mb-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum vel,
          in officia ipsum illo eveniet corporis, fugit
        </li>
        <li class="my-2">
          Connect with us
          <ul class="list-unstyled d-flex">
            <li>
              <span class="bi bi-facebook fs-4 me-5"></span>
            </li>
            <li>
              <span class="bi bi-instagram fs-4 me-5"></span>
            </li>
            <li>
              <span class="bi bi-youtube fs-4 me-5"></span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-md-2 col-sm-6 white px-auto">
      <span
        class="text-uppercase ls-sm"
        style="font-size: 15px; font-weight: 600"
        >Navigation</span
      >
      <br />
      <ul class="list-unstyled">
        <li class="my-2">
          <i class="bi bi-dot"></i>
          <a routerLink="/" style="text-decoration: none" class="white">Home</a>
        </li>
        <li class="my-2">
          <i class="bi bi-dot"></i>
          <a routerLink="/watchlist" style="text-decoration: none" class="white"
            >Watchlist</a
          >
        </li>
        <li class="my-2">
          <i class="bi bi-dot"></i>
          <a routerLink="/discover" style="text-decoration: none" class="white"
            >Discover</a
          >
        </li>
        <li class="my-2">
          <i class="bi bi-dot"></i>
          <a routerLink="/feedback" style="text-decoration: none" class="white"
            >Feedback</a
          >
        </li>
        <li class="my-2">
          <i class="bi bi-dot"></i
          ><a routerLink="/contact" style="text-decoration: none" class="white"
            >Contact</a
          >
        </li>
      </ul>
    </div>
    <div class="col-md-2 col-sm-6 white px-auto">
      <span
        class="text-uppercase ls-sm"
        style="font-size: 15px; font-weight: 600"
        >Genre</span
      >
      <br />
      <ul class="list-unstyled">
        <li class="my-2">
          <i class="bi bi-dot"></i
          ><a routerLink="/discover" style="text-decoration: none" class="white"
            >Action</a
          >
        </li>
        <li class="my-2">
          <i class="bi bi-dot"></i>
          <a routerLink="/discover" style="text-decoration: none" class="white"
            >Romance</a
          >
        </li>
        <li class="my-2">
          <i class="bi bi-dot"></i>
          <a routerLink="/discover" style="text-decoration: none" class="white"
            >Thriller</a
          >
        </li>
        <li class="my-2">
          <i class="bi bi-dot"></i>
          <a routerLink="/discover" style="text-decoration: none" class="white"
            >Documentary</a
          >
        </li>
        <li class="my-2">
          <i class="bi bi-dot"></i>
          <a routerLink="/discover" style="text-decoration: none" class="white"
            >Adventure</a
          >
        </li>
        <li class="my-2">
          <i class="bi bi-dot"></i>
          <a routerLink="/discover" style="text-decoration: none" class="white"
            >Comedy</a
          >
        </li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-6 white px-auto">
      <span
        class="text-uppercase ls-sm"
        style="font-size: 15px; font-weight: 600"
        >Have a Question?</span
      >
      <br />
      <ul class="list-unstyled">
        <li class="my-3">
          <span class="bi bi-geo-alt-fill">
            <span class="ms-1"
              >203 Fake St. Mountain View, San Francisco California USA</span
            >
          </span>
        </li>
        <li class="my-3">
          <span class="bi bi-telephone">
            <span class="ms-1">+2 392 3929 210</span>
          </span>
        </li>
        <li class="my-3">
          <span class="bi bi-envelope-fill">
            <span class="ms-1">info@yourdomain.com</span>
          </span>
        </li>
      </ul>
    </div>
    <div class="col-md-2 col-sm-6 white px-auto">
      <span
        class="text-uppercase ls-sm"
        style="font-size: 15px; font-weight: 600"
        >Newsletter</span
      >
      <br />
      <ul class="list-unstyled">
        <li class="my-2">Stay updated with our latest trends</li>
        <li class="my-2">
          <input
            type="text"
            placeholder="Enter email address.."
            class="form-control"
          />

          <input
            type="submit"
            value="Send"
            class="float-end my-3 border-0"
            style="color: #fff; background-color: #e50916"
          />
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <span class="" style="font-size: 0.9rem"
    >StreamEase is not responsible for content on external Web sites.
  </span>
</footer>
