*,
::after,
::before {
  box-sizing: border-box;
  background: #fff;
}

i {
  margin-right: 2px;
}

/*filter-bar-content*/
.filter-bar-content-type-new {
  position: sticky;
  max-width: 1752px;
  margin: 0 auto;
  padding: 8px 15px;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.filter-bar-content-type__item {
  position: relative;
  margin-inline-end: 16px;
  margin-bottom: 5px;
  position: relative;
}

.filter-bar-content-type__item::after {
  transform: scaleX(1);
}

.filter-bar-content-type__item .active {
  color: #fbc500 !important;
}

.filter-bar-content-type__item a {
  white-space: nowrap;
  font-size: 20px;
  font-weight: 900;
  color: #10161d;
  transition: #fff 0.1s ease-in-out;
  transition-delay: 0.2s;
  text-decoration: none;
}

/*WATCHLIST NAV*/
.watchlist-filterbox {
  max-width: 1752px;
  margin: 8px auto -16px;
  display: flex;
  flex-direction: row;
}

.watchlist-filterbox::after,
::before {
  box-sizing: border-box;
}

.filter-bar-with-icon {
  overflow-x: auto;
  max-width: 1752px;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: row;
  padding: 0 64px;
}

.filter-bar-with-icon::after,
::before {
  box-sizing: border-box;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  outline: none;
  padding: 9px 10px;
  margin: 5px 5px;
  border-radius: 8px;
  border: 1px solid #10161d;
  color: #10161d;
  background-color: transparent;
  transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
  appearance: auto;
  text-align: center;
  text-decoration: none;
}

.button:active {
  background-color: #10161d;
  border-color: #10161d;
  outline: none;
}

.button:hover {
  text-transform: uppercase;
  background-color: #fff;
  color: #10161d;
  font-size: 13px;
}

[role="button"] {
  cursor: pointer;
}

/*watch next*/
.page__watchlist {
  position: relative;
  top: 14px;
  max-width: 1752px;
}

.page__watchlist .empty-content {
  margin: 15px;
}

.empty-content-type {
  display: flex;
  flex-direction: column;
  max-width: 1752px;
  margin: 16px auto;
  padding: 0 15px;
}

.empty-content-type__subtext {
  color: #10161d;
  font-weight: 600;
  margin: 0;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.empty-content-type__btn[data-v-677b79bc] {
  margin-top: 16px;
}
.basic-button.primary {
  margin-top: 3rem;
  font-weight: 700;
  background-color: #10161d;
  color: #fff;
}
.basic-button.rounded {
  border-radius: 4px;
}
.basic-button.md {
  padding: 0.75rem 1.5rem;
}

.basic-button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
}

.basic-button__content {
  overflow: hidden;
  text-overflow: ellipsis;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

/*CARDS*/
.card-text a {
  text-decoration: none;
  max-width: 2px;
  max-height: 2px;
  background: #fbc500;
  border-radius: 2px 2px 2px 2px;
  color: #10161d;
}

.yellow {
  color: #fbc500;
}

.black {
  background-color: #161616;
}
.white {
  color: #fff;
}

.red {
  color: red;
}

/*CARDS--LIKES*/
