<section
  class="container-fluid px-5 py-5 rounded-3"
  style="max-width: 576px"
  id="feedbackForm"
>
  <div class="mb-4">
    <div class="d-flex justify-content-center">
      <h1>Your feedback.</h1>
    </div>
    <hr />
    <div class="reactionsDiv">
      <div class="d-flex justify-content-center">
        <span>We would like your feedback to our improve our website.</span>
      </div>
      <div class="my-3 d-flex justify-content-center">
        <span> What is your opinion of this page?</span>
      </div>
      <div class="fbReactions d-flex justify-content-center mt-3">
        <img
          src="assets/images/neutral.png"
          alt=""
          style="width: 50px; height: 50px; border-radius: 20%"
          class="me-2"
        />
        <img
          src="assets/images/angry.png"
          alt=""
          style="width: 50px; height: 50px; border-radius: 20%"
          class="me-2"
        />
        <img
          src="assets/images/happy.png"
          alt=""
          style="width: 50px; height: 50px; border-radius: 20%"
          class="me-2"
        />
        <img
          src="assets/images/sad.png"
          alt=""
          style="width: 50px; height: 50px; border-radius: 20%"
          class="me-2"
        />
      </div>
    </div>
    <hr />
    <div>
      <h5 class="pb-2">Please select your feedback category below</h5>
      <div class="btn-group rounded-0 my-4">
        <button class="btn btn-md rounded-2 border border-2 border-dark">
          suggestion
        </button>
        <button class="btn btn-md mx-4 rounded-2 border border-2 border-dark">
          something is not right
        </button>
        <button class="btn btn-md rounded-2 border border-2 border-dark">
          compliment
        </button>
      </div>
    </div>
    <hr />
    <div>
      <h5>Please leave your feedback below:</h5>
      <textarea
        name="feedback"
        id=""
        placeholder="write message here.."
        rows="10"
        class="form-control"
        style="max-height: 100px"
      ></textarea>
      <input
        type="submit"
        value="Send"
        class="float-end my-3"
        style="color: #fff; background-color: #e50916"
      />
    </div>
  </div>
</section>
<br />
